* {
    box-sizing: border-box;
}

.header {
    height: 120px;
    border-bottom: 3px solid #333333;
}

.header-title {
    font-style: italic;
    font-family: 'Snell Roundhand';
    font-size: 60px;
    text-align: center;
    font-weight: normal;
}

.first-row {
    display: flex;
    border: 5px;
    align-items: stretch;
    border-bottom: 3px solid #333333;
    border-left: 1px solid #333333;
}

.story {
    border-right: 1px solid #333333;
}

.story-title {
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.story-text {
    line-height: 1.3;
    padding: 3px;
}

.quarter {
    width: 25%;
}

.half {
    width: 50%;
}

.story-image{
    width: 100%;
    padding: 5px;
}