* {
    box-sizing: border-box;
}

.header {
    height: 100px;
}
.header-title {
    font-style: italic;
    font-family: 'Snell Roundhand';
    font-size: 60px;
    text-align: center;
}

.first-row {
    display: flex;
    border: 5px;
}
